In [1]:
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import gc
sns.set()

from pylab import rcParams ##matplotlib
rcParams['figure.figsize'] = 12, 8

/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [1]:
rootpath = u"/root/venv/data/jupyter/root/"

In [2]:
df_user_test = pd.read_csv(rootpath + "ECommAI_ubp_round1_test",delimiter='\t', header=None, names=['user_id'])

NameError: name 'pd' is not defined

In [7]:
df_user_test

          user_id
0        10000100
1        10000118
2        10000173
3       100002500
4        10000342
...           ...
849074   99993621
849075   99997513
849076   99998216
849077   99998665
849078   99999740

[849079 rows x 1 columns]

In [5]:
gc.collect()

0