In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import gc
sns.set()

from pylab import rcParams ##matplotlib
rcParams['figure.figsize'] = 12, 8

/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
from  datetime import datetime
from time import time
import numpy as np
import pandas as pd
import gc

rcParams['figure.figsize'] = 12, 8
rootpath = u"/root/venv/data/jupyter/root/"

In [3]:
rootpath = u"/root/venv/data/jupyter/root/"

In [ ]:
data1 = []
path1 = rootpath + "ECommAI_ubp_round1_train"
i = 5000000
with open(path1, 'r',encoding='gbk',errors='ignore') as f: 
    for line in f:
        i -= 1
        if(i < 0):
            break
        data1.append(line.split('\t'))

In [16]:
data1 = pd.DataFrame(data1,columns=["user_id", "item_id", "behavior_type", "date"])

In [4]:
data1 = []
path1 = rootpath + "ECommAI_ubp_round1_train"
i = 0
with open(path1, 'r',encoding='gbk',errors='ignore') as f: 
    for line in f:
        i += 1

In [5]:
i

206676925

In [6]:
data1 = []

path1 = rootpath + "ECommAI_ubp_round1_train"
i = 5000000
with open(path1, 'r',encoding='gbk',errors='ignore') as f: 
    for line in f:
        i -= 1
        if(i < 0):
            break
        data1.append(line.split('\t'))

In [7]:
items = pd.read_csv(rootpath+"ECommAI_ubp_round1_item_feature", delimiter='\t', header=None, names= ["item_id", "class1_id", "class_id", "brand_id", "price"])
gc.collect()

0

In [8]:
items_id = items["item_id"]

In [10]:
items_id.shape

(10786748,)

In [58]:
items_id = pd.DataFrame({"items_id":items["item_id"]})

In [24]:
user = pd.read_csv(rootpath + "finaluser.csv")

In [25]:
user_id = user["user_id"]

In [27]:
user_id.shape

(163897,)

In [28]:
del user

In [32]:
del user_id

In [30]:
new_user_id = pd.DataFrame({"user_id":user_id})

In [31]:
new_user_id

           user_id
0         48100333
1        111725039
2        124649973
3        127725416
4        315213555
...            ...
163892   687738492
163893  1027583853
163894  2092895414
163895  2672866788
163896  3046299229

[163897 rows x 1 columns]

In [39]:
new_user_id[new_user_id["user_id"] == 578502831].shape[0]

0

In [47]:
is_exist = [] #表示是否存在
m = 0
for i in data1["user_id"]:
    m += 1
    w = new_user_id[new_user_id["user_id"] == int(i)].shape[0]
    if(w == 1):
        is_exist.append(True)
    else:
        is_exist.append(False)
    if(m % 10000 == 0):
        print("now deal with" + str(m))

now deal with10000
now deal with20000
now deal with30000
now deal with40000
now deal with50000
now deal with60000
now deal with70000
now deal with80000
now deal with90000
now deal with100000
now deal with110000
now deal with120000
now deal with130000
now deal with140000
now deal with150000
now deal with160000
now deal with170000
now deal with180000
now deal with190000
now deal with200000
now deal with210000
now deal with220000
now deal with230000
now deal with240000
now deal with250000
now deal with260000
now deal with270000
now deal with280000
now deal with290000
now deal with300000
now deal with310000
now deal with320000
now deal with330000
now deal with340000
now deal with350000
now deal with360000
now deal with370000
now deal with380000
now deal with390000
now deal with400000
now deal with410000
now deal with420000
now deal with430000
now deal with440000
now deal with450000
now deal with460000
now deal with470000
now deal with480000
now deal with490000
now deal with500000
now deal with510000
now deal with520000
now deal with530000
now deal with540000
now deal with550000
now deal with560000
now deal with570000
now deal with580000
now deal with590000
now deal with600000
now deal with610000
now deal with620000
now deal with630000
now deal with640000
now deal with650000
now deal with660000
now deal with670000
now deal with680000
now deal with690000
now deal with700000
now deal with710000
now deal with720000
now deal with730000
now deal with740000
now deal with750000
now deal with760000
now deal with770000
now deal with780000
now deal with790000
now deal with800000
now deal with810000
now deal with820000
now deal with830000
now deal with840000
now deal with850000
now deal with860000
now deal with870000
now deal with880000
now deal with890000
now deal with900000
now deal with910000
now deal with920000
now deal with930000
now deal with940000
now deal with950000
now deal with960000
now deal with970000
now deal with980000
now deal with990000
now deal with1000000
now deal with1010000
now deal with1020000
now deal with1030000
now deal with1040000
now deal with1050000
now deal with1060000
now deal with1070000
now deal with1080000
now deal with1090000
now deal with1100000
now deal with1110000
now deal with1120000
now deal with1130000
now deal with1140000
now deal with1150000
now deal with1160000
now deal with1170000
now deal with1180000
now deal with1190000
now deal with1200000
now deal with1210000
now deal with1220000
now deal with1230000
now deal with1240000
now deal with1250000
now deal with1260000
now deal with1270000
now deal with1280000
now deal with1290000
now deal with1300000
now deal with1310000
now deal with1320000
now deal with1330000
now deal with1340000
now deal with1350000
now deal with1360000
now deal with1370000
now deal with1380000
now deal with1390000
now deal with1400000
now deal with1410000
now deal with1420000
now deal with1430000
now deal with1440000
now deal with1450000
now deal with1460000
now deal with1470000
now deal with1480000
now deal with1490000
now deal with1500000
now deal with1510000
now deal with1520000
now deal with1530000
now deal with1540000
now deal with1550000
now deal with1560000
now deal with1570000
now deal with1580000
now deal with1590000
now deal with1600000
now deal with1610000
now deal with1620000
now deal with1630000
now deal with1640000
now deal with1650000
now deal with1660000
now deal with1670000
now deal with1680000
now deal with1690000
now deal with1700000
now deal with1710000
now deal with1720000
now deal with1730000
now deal with1740000
now deal with1750000
now deal with1760000
now deal with1770000
now deal with1780000
now deal with1790000
now deal with1800000
now deal with1810000
now deal with1820000
now deal with1830000
now deal with1840000
now deal with1850000
now deal with1860000
now deal with1870000
now deal with1880000
now deal with1890000
now deal with1900000
now deal with1910000
now deal with1920000
now deal with1930000
now deal with1940000
now deal with1950000
now deal with1960000
now deal with1970000
now deal with1980000
now deal with1990000
now deal with2000000
now deal with2010000
now deal with2020000
now deal with2030000
now deal with2040000
now deal with2050000
now deal with2060000
now deal with2070000
now deal with2080000
now deal with2090000
now deal with2100000
now deal with2110000
now deal with2120000
now deal with2130000
now deal with2140000
now deal with2150000
now deal with2160000
now deal with2170000
now deal with2180000
now deal with2190000
now deal with2200000
now deal with2210000
now deal with2220000
now deal with2230000
now deal with2240000
now deal with2250000
now deal with2260000
now deal with2270000
now deal with2280000
now deal with2290000
now deal with2300000
now deal with2310000
now deal with2320000
now deal with2330000
now deal with2340000
now deal with2350000
now deal with2360000
now deal with2370000
now deal with2380000
now deal with2390000
now deal with2400000
now deal with2410000
now deal with2420000
now deal with2430000
now deal with2440000
now deal with2450000
now deal with2460000
now deal with2470000
now deal with2480000
now deal with2490000
now deal with2500000
now deal with2510000
now deal with2520000
now deal with2530000
now deal with2540000
now deal with2550000
now deal with2560000
now deal with2570000
now deal with2580000
now deal with2590000
now deal with2600000
now deal with2610000
now deal with2620000
now deal with2630000
now deal with2640000
now deal with2650000
now deal with2660000
now deal with2670000
now deal with2680000
now deal with2690000
now deal with2700000
now deal with2710000
now deal with2720000
now deal with2730000
now deal with2740000
now deal with2750000
now deal with2760000
now deal with2770000
now deal with2780000
now deal with2790000
now deal with2800000
now deal with2810000
now deal with2820000
now deal with2830000
now deal with2840000
now deal with2850000
now deal with2860000
now deal with2870000
now deal with2880000
now deal with2890000
now deal with2900000
now deal with2910000
now deal with2920000
now deal with2930000
now deal with2940000
now deal with2950000
now deal with2960000
now deal with2970000
now deal with2980000
now deal with2990000
now deal with3000000
now deal with3010000
now deal with3020000
now deal with3030000
now deal with3040000
now deal with3050000
now deal with3060000
now deal with3070000
now deal with3080000
now deal with3090000
now deal with3100000
now deal with3110000
now deal with3120000
now deal with3130000
now deal with3140000
now deal with3150000
now deal with3160000
now deal with3170000
now deal with3180000
now deal with3190000
now deal with3200000
now deal with3210000
now deal with3220000
now deal with3230000
now deal with3240000
now deal with3250000
now deal with3260000
now deal with3270000
now deal with3280000
now deal with3290000
now deal with3300000
now deal with3310000
now deal with3320000
now deal with3330000
now deal with3340000
now deal with3350000
now deal with3360000
now deal with3370000
now deal with3380000
now deal with3390000
now deal with3400000
now deal with3410000
now deal with3420000
now deal with3430000
now deal with3440000
now deal with3450000
now deal with3460000
now deal with3470000
now deal with3480000
now deal with3490000
now deal with3500000
now deal with3510000
now deal with3520000
now deal with3530000
now deal with3540000
now deal with3550000
now deal with3560000
now deal with3570000
now deal with3580000
now deal with3590000
now deal with3600000
now deal with3610000
now deal with3620000
now deal with3630000
now deal with3640000
now deal with3650000
now deal with3660000
now deal with3670000
now deal with3680000
now deal with3690000
now deal with3700000
now deal with3710000
now deal with3720000
now deal with3730000
now deal with3740000
now deal with3750000
now deal with3760000
now deal with3770000
now deal with3780000
now deal with3790000
now deal with3800000
now deal with3810000
now deal with3820000
now deal with3830000
now deal with3840000
now deal with3850000
now deal with3860000
now deal with3870000
now deal with3880000
now deal with3890000
now deal with3900000
now deal with3910000
now deal with3920000
now deal with3930000
now deal with3940000
now deal with3950000
now deal with3960000

now deal with3970000
now deal with3980000
now deal with3990000
now deal with4000000
now deal with4010000
now deal with4020000
now deal with4030000
now deal with4040000
now deal with4050000
now deal with4060000
now deal with4070000
now deal with4080000
now deal with4090000
now deal with4100000
now deal with4110000
now deal with4120000
now deal with4130000
now deal with4140000
now deal with4150000
now deal with4160000
now deal with4170000
now deal with4180000
now deal with4190000
now deal with4200000
now deal with4210000
now deal with4220000
now deal with4230000
now deal with4240000
now deal with4250000
now deal with4260000
now deal with4270000
now deal with4280000
now deal with4290000
now deal with4300000
now deal with4310000
now deal with4320000
now deal with4330000
now deal with4340000
now deal with4350000
now deal with4360000
now deal with4370000
now deal with4380000
now deal with4390000
now deal with4400000
now deal with4410000
now deal with4420000
now deal with4430000
now deal with4440000
now deal with4450000
now deal with4460000
now deal with4470000
now deal with4480000
now deal with4490000
now deal with4500000
now deal with4510000
now deal with4520000
now deal with4530000
now deal with4540000
now deal with4550000
now deal with4560000
now deal with4570000
now deal with4580000
now deal with4590000
now deal with4600000
now deal with4610000
now deal with4620000
now deal with4630000
now deal with4640000
now deal with4650000
now deal with4660000
now deal with4670000
now deal with4680000
now deal with4690000
now deal with4700000
now deal with4710000
now deal with4720000
now deal with4730000
now deal with4740000
now deal with4750000
now deal with4760000
now deal with4770000
now deal with4780000
now deal with4790000
now deal with4800000
now deal with4810000
now deal with4820000
now deal with4830000
now deal with4840000
now deal with4850000
now deal with4860000
now deal with4870000
now deal with4880000
now deal with4890000
now deal with4900000
now deal with4910000
now deal with4920000
now deal with4930000
now deal with4940000
now deal with4950000
now deal with4960000
now deal with4970000
now deal with4980000
now deal with4990000
now deal with5000000

In [43]:
w = 100
if(w % 1000 == 0):
        print("now deal with" + str(w))

In [49]:
data1["is_exist"] = is_exist

In [50]:
data1 = data1[data1["is_exist"] == True]

In [53]:
data1.to_csv(rootpath + "500_new_train.csv")

In [54]:
data1.columns

Index(['user_id', 'item_id', 'behavior_type', 'date', 'is_exist'], dtype='object')

In [61]:
is_exist = [] #表示是否存在
m = 0
for i in data1["item_id"]:
    m += 1
    w = items_id[items_id["items_id"] == int(i)].shape[0]
    if(w == 1):
        is_exist.append(True)
    else:
        is_exist.append(False)
    if(m % 10000 == 0):
        print("now deal with" + str(m))

now deal with10000
now deal with20000
now deal with30000
now deal with40000
now deal with50000
now deal with60000
now deal with70000
now deal with80000
now deal with90000
now deal with100000
now deal with110000
now deal with120000
now deal with130000
now deal with140000
now deal with150000
now deal with160000
now deal with170000
now deal with180000
now deal with190000
now deal with200000
now deal with210000
now deal with220000
now deal with230000
now deal with240000
now deal with250000
now deal with260000
now deal with270000
now deal with280000
now deal with290000
now deal with300000
now deal with310000
now deal with320000
now deal with330000
now deal with340000
now deal with350000
now deal with360000
now deal with370000
now deal with380000
now deal with390000
now deal with400000
now deal with410000
now deal with420000
now deal with430000
now deal with440000
now deal with450000
now deal with460000
now deal with470000
now deal with480000
now deal with490000
now deal with500000
now deal with510000
now deal with520000
now deal with530000
now deal with540000
now deal with550000
now deal with560000
now deal with570000
now deal with580000
now deal with590000
now deal with600000
now deal with610000
now deal with620000
now deal with630000
now deal with640000
now deal with650000
now deal with660000
now deal with670000
now deal with680000
now deal with690000
now deal with700000
now deal with710000
now deal with720000
now deal with730000
now deal with740000
now deal with750000
now deal with760000
now deal with770000
now deal with780000
now deal with790000
now deal with800000
now deal with810000
now deal with820000
now deal with830000
now deal with840000
now deal with850000
now deal with860000
now deal with870000
now deal with880000
now deal with890000
now deal with900000
now deal with910000
now deal with920000

            items_id
0              43152
1             133107
2             138801
3             140174
4             237779
...              ...
10786743  1092161303
10786744  1092199911
10786745  1092233451
10786746  1092243737
10786747  1092259628

[10786748 rows x 1 columns]

In [65]:
len(is_exist)

928293

In [67]:
data1["is_item_exist"] = is_exist

/root/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [68]:
data1 = data1[data1["is_item_exist"] == True]

In [69]:
data1.to_csv(rootpath + "500_new_train.csv")

In [76]:
new_user_id[new_user_id["user_id"] == int(data1.iloc[0]["user_id"])]

          user_id
96279  1811951803

In [77]:
data1.shape

(915056, 6)

## 循环探究

In [1]:
from  datetime import datetime
from time import time
import numpy as np
import pandas as pd
import gc

rootpath = u"/root/venv/data/jupyter/root/"

/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/root/venv/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
items = pd.read_csv(rootpath+"ECommAI_ubp_round1_item_feature", delimiter='\t', header=None, names= ["item_id", "class1_id", "class_id", "brand_id", "price"])
gc.collect()
items_id = list(items["item_id"])

In [3]:
del items
gc.collect()

0

In [4]:
user = pd.read_csv(rootpath + "finaluser.csv")
user_id = list(user["user_id"])

In [5]:
del user
gc.collect()

0

In [ ]:
path1 = rootpath + "ECommAI_ubp_round1_train"
u = 5
while(u <= 40):
    data1 = []
    i = -1
    with open(path1, 'r',encoding='gbk',errors='ignore') as f: 
        for line in f:
            i += 1
            if(i < 5000000 * (u - 1)):
                continue
            if(i <= 206676925):
                data1.append(line.split('\t'))
            else:
                break
    print("finish read" + str(u * 5000000))
    data1 = pd.DataFrame(data1,columns=["user_id", "item_id", "behavior_type", "date"])
    data1["date"] = data1["date"].str[0:8]
    data1['user_id'] = data1["user_id"].astype(int)
    start = time()
    data2 = data1.loc[data1['user_id'].isin(user_id)]
    print("finsh delete invailed user")
    data2["item_id"] = data2["item_id"].astype(int)
    data2 = data2.loc[data2['item_id'].isin(items_id)]
    print("finsh delete invailed item")
    print("all time:" + str(time()-start))
    data2.to_csv(rootpath+ str(u * 5000000) +".csv")
    del data1
    del data2
    gc.collect()
    print("<<<<<<<<<<<<<<<<<<<<<<<<<")
    u += 1

In [6]:
## 对于最后一组600万的数据的清洗
path1 = rootpath + "ECommAI_ubp_round1_train"
u = 41

data1 = []
i = -1
with open(path1, 'r',encoding='gbk',errors='ignore') as f: 
    for line in f:
        i += 1
        if(i < 5000000 * (u - 1)):
            continue
        if(i <= 206676925):
            data1.append(line.split('\t'))
        else:
            break
print("finish read" + str(u * 5000000))
data1 = pd.DataFrame(data1,columns=["user_id", "item_id", "behavior_type", "date"])
data1["date"] = data1["date"].str[0:8]
data1['user_id'] = data1["user_id"].astype(int)
start = time()
data2 = data1.loc[data1['user_id'].isin(user_id)]
print("finsh delete invailed user")
data2["item_id"] = data2["item_id"].astype(int)
data2 = data2.loc[data2['item_id'].isin(items_id)]
print("finsh delete invailed item")
print("all time:" + str(time()-start))
data2.to_csv(rootpath+ str(u * 5000000) +".csv")
del data1
del data2
gc.collect()
print("<<<<<<<<<<<<<<<<<<<<<<<<<")
u += 1

finish read205000000
finsh delete invailed user

/root/venv/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

finsh delete invailed item
all time:4.075525999069214
<<<<<<<<<<<<<<<<<<<<<<<<<

In [28]:
data1 = pd.DataFrame(data1,columns=["user_id", "item_id", "behavior_type", "date"])
data1["date"] = data1["date"].str[0:8]

In [12]:
data1

NameError: name 'data1' is not defined

In [10]:
user_id

[48100333,
 111725039,
 124649973,
 127725416,
 315213555,
 447893246,
 2274697074,
 2469275427,
 2387777995,
 85566234,
 446498546,
 772733851,
 1026386325,
 1045933633,
 1745050108,
 1897604860,
 1995993460,
 2029002050,
 2572970733,
 2779964887,
 2107417336,
 1075896374,
 1902731714,
 2244046094,
 2262266231,
 2296997223,
 2673053938,
 2776777278,
 776923017,
 829233779,
 918198297,
 919682867,
 919793254,
 61853441,
 353519583,
 911542293,
 2281881399,
 2238748340,
 2267277341,
 2355996918,
 52572621,
 126158758,
 276271967,
 2233628347,
 2320971820,
 2594766902,
 2667878562,
 2706762468,
 123169146,
 2940338767,
 2085487583,
 2251916060,
 2448202262,
 214547681,
 602855150,
 665502060,
 669284120,
 758255951,
 3369393648,
 3456345378,
 2468442796,
 119589408,
 729179180,
 1019489329,
 168624202,
 309224410,
 476814516,
 757522283,
 2673943629,
 397573568,
 790999071,
 906694646,
 1055209626,
 1084261956,
 1593146591,
 1792852940,
 1828240165,
 1990729223,
 2968618368,
 3485564353,
 1939029566,
 2245268424,
 2521892245,
 2699896099,
 1712103190,
 1790415618,
 1854945613,
 1941595684,
 1091442820,
 1694447582,
 1722301127,
 1885241174,
 1975294404,
 1604517568,
 1697642381,
 1722674481,
 4019962813,
 1983480767,
 2528904603,
 2725407450,
 2874898733,
 2953805185,
 2988083497,
 2995109500,
 1893075793,
 2955622711,
 3003855886,
 3236894896,
 2343565648,
 2445814402,
 2678744397,
 131272287,
 708868418,
 3333275843,
 1581123215,
 3417979446,
 1598773676,
 1983271178,
 2295854291,
 2352500121,
 2562752290,
 2686151396,
 2911682203,
 2538525862,
 2664545218,
 139341554,
 667005425,
 1059995148,
 1775455994,
 1857674943,
 1907835986,
 2071087303,
 56134331,
 378170360,
 736860110,
 824880195,
 844706254,
 906678099,
 2396413359,
 2750683927,
 2794207186,
 2257561579,
 2490327457,
 2633669523,
 2665487810,
 3640297306,
 2993566884,
 2917386460,
 3004009438,
 2633518735,
 2661964568,
 2686950998,
 2700879209,
 2855269203,
 2200664618866,
 307309668,
 652662771,
 2942250574,
 2999092538,
 3866201467,
 2335031038,
 2350042137,
 2463088984,
 2616734347,
 2940973183,
 2947247459,
 2494644468,
 2526762514,
 849260825,
 1056442878,
 1616642097,
 1789429617,
 808913495,
 2992557333,
 3106615723,
 2933790279,
 42368524,
 43601270,
 177709431,
 611614742,
 2200743540009,
 185339788,
 895493070,
 1654171250,
 2274915987,
 2383454121,
 2774621900,
 3005384115,
 2954910836,
 1053045540,
 1724136325,
 1832830473,
 2238820000,
 1653844582,
 1886290624,
 2144616321,
 2246955481,
 3578659985,
 176024465,
 269069345,
 358187658,
 1708292422,
 1773445602,
 2186272467,
 2286065283,
 2397652483,
 2435496837,
 2568628221,
 235491508,
 2343655498,
 2348548523,
 2488127339,
 2631685149,
 1982863769,
 2073447030,
 2245470373,
 2297949916,
 142206040,
 685456847,
 718291201,
 725206483,
 1038911679,
 57646459,
 382570694,
 583769986,
 3395430223,
 4074088208,
 3434424864,
 782271232,
 1937776418,
 2637450758,
 2834008981,
 2869306138,
 3303613366,
 582629482,
 595801562,
 191524417,
 669724147,
 847603894,
 2991045329,
 1047632256,
 1096965288,
 1649430387,
 2783110236,
 2983981775,
 4211198856,
 1637605305,
 1657009277,
 1694946527,
 1859780811,
 1914574708,
 2027240806,
 2236650300,
 44609332,
 135048544,
 1937347286,
 2131873960,
 718342525,
 1029120580,
 2812050602,
 2861738973,
 4259805911,
 749922655,
 1032099629,
 1033357431,
 2902591445,
 3045217044,
 3696676050,
 3711320533,
 1042384399,
 1082351234,
 3539797046,
 273247755,
 352915771,
 388151751,
 629437371,
 750520454,
 1055466465,
 1097859834,
 1621774385,
 1838737093,
 2293638268,
 2459552803,
 2611192827,
 2208426762,
 2937521512,
 3007802253,
 2267790152,
 2399558833,
 4233239252,
 1841088402,
 1915609565,
 2783732433,
 3326310632,
 4132403303,
 2200709724149,
 3430133024,
 92953003,
 354921424,
 382479481,
 1063453741,
 819026767,
 1133894610,
 2225708281,
 2368928826,
 2940139131,
 41662931,
 3003747237,
 2103363853,
 2154162002,
 351956561,
 75800864,
 292241356,
 426100674,
 747101085,
 2662917571,
 140506657,
 673903959,
 3209028197,
 3884228445,
 1678144900,
 2245943076,
 1980394525,
 1986639877,
 2314080281,
 2421673436,
 408833189,
 778633050,
 510294062,
 601524485,
 848558454,
 3398344226,
 3633039273,
 2613365254,
 2743585619,
 2765929215,
 2931427446,
 339972590,
 353696419,
 409776300,
 757928466,
 769820715,
 850420975,
 549927606,
 2590134881,
 764035781,
 1114045091,
 2010748848,
 2238020423,
 792290865,
 1731540799,
 3412791100,
 1806588627,
 2057767586,
 2208526672,
 3928457424,
 4098749811,
 4152537199,
 268005919,
 462587428,
 488958782,
 797012654,
 1047248271,
 1091054483,
 198151106,
 688244240,
 3417887998,
 3309016993,
 2939386233,
 2997458166,
 930719993,
 1118051127,
 183849975,
 498506390,
 809348495,
 852413083,
 1020101452,
 2049556420,
 2122433727,
 2773412633,
 2885999677,
 2251455905,
 2680935502,
 4013530715,
 2250648842,
 2256797589,
 14345560,
 1083458594,
 1109799529,
 1109870739,
 1989060104,
 2440674946,
 2530542827,
 2545204734,
 1961700079,
 2136998194,
 2239534199,
 1685934717,
 4106146650,
 194292224,
 652629734,
 3645573021,
 4087206513,
 2037820129,
 3156950724,
 666588787,
 861069804,
 2491259364,
 2633821879,
 3492476458,
 91803373,
 97247244,
 97499088,
 789246297,
 867653024,
 1034319766,
 1800031731,
 1943473445,
 307067105,
 2130576613,
 2270989427,
 2366624868,
 2448756946,
 2457355070,
 2572789693,
 2674465611,
 2825204544,
 1654354800,
 1738075056,
 2452198921,
 2301000015,
 779632905,
 160266273,
 162022790,
 195522996,
 298700470,
 378141118,
 422242323,
 490332206,
 523497422,
 655304706,
 2961509449,
 1744126360,
 1755129206,
 1800607091,
 1927784795,
 1929293539,
 2565240319,
 2642668670,
 2300746807,
 862960863,
 877152486,
 3910666560,
 2695734098,
 86968151,
 290874062,
 359341487,
 411668084,
 831743366,
 2864603112,
 2983192799,
 2199083492,
 2287543344,
 2663817201,
 2777005847,
 2801588580,
 53344527,
 59833317,
 368689495,
 376147108,
 680233734,
 3368328555,
 835821093,
 850316312,
 1119217015,
 1773771676,
 2601077128,
 2364045673,
 2657214125,
 2807827088,
 2854663776,
 102363410,
 610181174,
 723707222,
 767382876,
 805979811,
 1041418496,
 422493807,
 2659249098,
 2776687283,
 2795836799,
 2831547601,
 3498086213,
 2770046547,
 2864091478,
 1124010102,
 1582666132,
 1798451232,
 2148864391,
 1978189597,
 2220676590,
 3153861877,
 381679824,
 652338070,
 49119991,
 682976029,
 2151725629,
 2358917072,
 2375379539,
 2244090368,
 3413513689,
 2920937563,
 2978739019,
 3064369879,
 2958520315,
 2993499448,
 604847191,
 677794440,
 3315420154,
 834101239,
 848869948,
 880966769,
 1746367907,
 1852272133,
 1904506440,
 2999141244,
 3363086370,
 2643669693,
 2664340097,
 2808635472,
 86219301,
 743749026,
 756560157,
 859932260,
 928944659,
 727956651,
 734304713,
 756663183,
 1612223934,
 1761752502,
 2811096835,
 2515575487,
 56232191,
 353163040,
 729197858,
 4083193149,
 2276343781,
 2301214621,
 2666918511,
 1111410252,
 1642572127,
 1832292807,
 2148136087,
 2458798883,
 2522926969,
 3540866328,
 812752072,
 844666553,
 1907036554,
 3091004769,
 2931191820,
 2942849863,
 3045725208,
 4054184945,
 1916471055,
 2250182889,
 2262104574,
 2262956331,
 2276312390,
 728808559,
 1064394841,
 2763561816,
 2864575993,
 3013040303,
 3428394570,
 3555436510,
 2248522786,
 2294094214,
 2441073502,
 2536924995,
 2666934999,
 2676924681,
 3167095163,
 1060970728,
 1098890414,
 1129576070,
 1722971875,
 1964683925,
 2666667451,
 4230143955,
 3333928082,
 3377814595,
 3380736023,
 2074173147,
 2062552061,
 2471575867,
 3408222940,
 393086351,
 2733933154,
 2826408359,
 23211938,
 1112642643,
 3820223519,
 106478281,
 392175311,
 2827307925,
 60079469,
 352174506,
 554468852,
 729834957,
 3183300965,
 3284080194,
 26461400,
 754532462,
 797548598,
 855316532,
 1080938609,
 1791545655,
 3077841640,
 3460060073,
 2765124733,
 893368416,
 1036570907,
 1043102954,
 1663697591,
 2637356329,
 2785310136,
 2480096856,
 684417648,
 917754479,
 1062220683,
 686226685,
 696742756,
 755712261,
 836178479,
 844390205,
 2159724443,
 3453526105,
 1117809161,
 1125618351,
 1875678265,
 65447840,
 192820899,
 385258790,
 386282649,
 618804624,
 828702480,
 2311495399,
 1069652058,
 891544367,
 22522997,
 269276959,
 3068816556,
 2606157945,
 2626933439,
 2638736802,
 4001719168,
 4138202635,
 4158844156,
 2945026294,
 3038665667,
 3406874454,
 512345326,
 642811191,
 647624909,
 821150951,
 872431207,
 1047556997,
 3011752217,
 3173377508,
 76517692,
 408802368,
 457319960,
 643333716,
 1088272035,
 2169736763,
 2245500287,
 1922015947,
 2184320083,
 1767672764,
 1913116483,
 1926840091,
 2217320889,
 159296231,
 253363362,
 668492784,
 1801437665,
 3084602737,
 3346594040,
 2788739859,
 71713264,
 220748669,
 657272766,
 2959535549,
 1093460864,
 1713349348,
 1845560664,
 2154411490,
 2186262685,
 2205041920,
 381771232,
 398648345,
 446747068,
 833683482,
 2004232466,
 2571437251,
 2658744942,
 2083064653,
 2202886654,
 791955673,
 1743795492,
 1828844858,
 1850383427,
 3520227352,
 3639102087,
 2470298053,
 2536934229,
 629122988,
 389727523,
 2555855473,
 2639124601,
 2641743748,
 2658905822,
 53423379,
 69128301,
 124905476,
 1603383723,
 776238165,
 802580898,
 1646498937,
 1879819115,
 3179780435,
 3331917302,
 2334235826,
 2409052791,
 3976614395,
 2384114672,
 2857333436,
 2900846483,
 3046981840,
 2200670181739,
 1917192584,
 1927252293,
 2000939221,
 2052082769,
 2178850170,
 2805505323,
 2859275065,
 1592738529,
 1662746677,
 1855246586,
 2610923623,
 687554353,
 761693764,
 2274686984,
 169350091,
 709815689,
 731101294,
 905542522,
 3983207976,
 4040446110,
 1074653571,
 14812695,
 122443168,
 294396427,
 42299478,
 63993064,
 2814248634,
 2396896194,
 2469331681,
 2655607899,
 72560873,
 684204270,
 43210545,
 185336158,
 849147145,
 925160487,
 3014528137,
 3068400661,
 3931306888,
 1786777038,
 1839422658,
 2013587073,
 2025219891,
 857335291,
 1813305571,
 1879112541,
 202779306,
 276221466,
 372739057,
 680117651,
 2033654182,
 794947838,
 882226139,
 1037293566,
 1833739304,
 1944119812,
 4102070970,
 3803477104,
 163100859,
 216936341,
 602012552,
 840238801,
 913067412,
 2522183715,
 2665032633,
 2759594692,
 1639155491,
 1751850254,
 2197113982,
 885697245,
 896709041,
 1922187712,
 1945837260,
 1948675783,
 2519860915,
 2262889355,
 2525571593,
 2678539746,
 2875548063,
 1039848252,
 2603759658,
 383396431,
 3356502641,
 3414135752,
 2946000775,
 2985730156,
 3249594397,
 2014019315,
 2076442266,
 2184387985,
 1690819920,
 1748462365,
 2987254129,
 3019066517,
 2361497640,
 2483730747,
 2587399141,
 4239952085,
 3153059549,
 184818280,
 2861243900,
 3389371562,
 3408397352,
 3613058104,
 2661986329,
 2818255182,
 2853744478,
 3013898323,
 1969205344,
 2364766802,
 2453271404,
 2420695427,
 2584425021,
 1991160737,
 2070491077,
 790601900,
 796996651,
 875331808,
 1640057029,
 1678876525,
 2991504454,
 2690214928,
 2757082546,
 85175420,
 85638396,
 277966961,
 403264615,
 740537582,
 865963003,
 900954839,
 2638522359,
 2640991032,
 72723666,
 392227384,
 2298895866,
 2366593400,
 2200679594934,
 2583651231,
 2742586031,
 906900019,
 1699440534,
 1744272022,
 1876529594,
 2200549640182,
 2650966024,
 2665934279,
 2993777219,
 3343599282,
 3346066507,
 3343830091,
 3420629072,
 1705911634,
 1737102652,
 2053519940,
 2195917246,
 2812642445,
 2936431776,
 2958853363,
 3005959194,
 3039585419,
 2986779143,
 3313295243,
 416483961,
 733250594,
 767076425,
 913265057,
 70163587,
 460950038,
 489188597,
 602856145,
 824540262,
 1671307562,
 1897675115,
 2198210092,
 126098483,
 157524134,
 589985769,
 839076309,
 2686704465,
 2686746757,
 2785855462,
 2793344311,
 431280052,
 728900561,
 732163740,
 273747253,
 485167693,
 597682690,
 706252071,
 3976879992,
 2000909813,
 2183225301,
 2077915346,
 4035196337,
 2622134651,
 2654692511,
 2436964962,
 2449967172,
 4116698172,
 1655682780,
 1790497271,
 1974850907,
 767378750,
 818269335,
 3030621945,
 1104087320,
 1582284202,
 1600078574,
 2017145691,
 2037550201,
 3801769716,
 2447032238,
 2522363246,
 1912338966,
 18401774,
 51603669,
 369728242,
 475606180,
 674950826,
 2598703485,
 2608014594,
 306295100,
 931113853,
 3197757858,
 3405765282,
 3704161225,
 1989618849,
 2260831609,
 2296594380,
 4118014829,
 3611066440,
 2608539977,
 2115283171,
 3829697167,
 2795968547,
 2977341198,
 2350171957,
 655100306,
 701119903,
 844092394,
 321528908,
 605323054,
 769304923,
 128149799,
 206355150,
 763558688,
 880465490,
 1098024618,
 670165197,
 3987555272,
 1663246893,
 2050776777,
 2248629145,
 2276145673,
 2791404473,
 2834585255,
 130752540,
 2909885849,
 2971612909,
 ...]

In [41]:
data1["date"] = data1["date"].str[0:8]

In [30]:
data1['user_id'] = data1["user_id"].astype(int)

## 查询性能比较(利用user_id进行筛选)

In [31]:
## isin 数据集为500万的尝试 3.13849139213562
start = time()
data2 = data1.loc[data1['user_id'].isin(user_id)]
data2["item_id"] = data2["item_id"].astype(int)
data2 = data2.loc[data2['item_id'].isin(items_id)]
time()-start

/root/venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

3.13849139213562

1

In [25]:
data3.shape

(901807, 4)

In [26]:
del data1
del data2
del data3
gc.collect()

0

In [10]:
reslut

37101159

In [9]:
## 对于所有的数据的统计
m = 5000000
reslut = 0
for i in np.arange(1,42):
    w = pd.read_csv(rootpath+str(i * m) + ".csv")
    reslut += w.shape[0]
    print("read" + str(i))

print(result)

NameError: name 'result' is not defined

In [7]:
np.arange(1,42)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41])

In [8]:
41 * 5000000

205000000