# 需求分析

- 得到每个用户，对某个物品的点击数、加购数、收藏数、购买数
- 得到每个用户对每个物品的评分（暂定是点击数）

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
base_path='../../datasets/'
items=pd.read_csv(base_path+'items.csv')
behavior=pd.read_csv(base_path+'train.csv')

In [3]:
# items.set_index('item_id',inplace=True)
items.head()

   item_id  class1_id  class_id  brand_id    price
0    43152   50022703  50003881     30652  1749.00
1   133107         11    110502     26683   189.98
2   138801   50010788  50010815     20067   538.50
3   140174   50010788  50010815     20112   814.00
4   237779       1801  50011980     20000    39.00

In [4]:
print(items['item_id'].nunique())
print(items['class1_id'].nunique())
print(items['class_id'].nunique())
print(items['brand_id'].nunique())
# print(items.count())

10786748
111
8381
197784

In [6]:
behavior.columns=['behavior_id','item_id','behavior_type','date','user_id']
behavior.set_index('behavior_id',inplace=True)
behavior.head()

                item_id behavior_type      date    user_id
behavior_id
0             698567418           clk  20190610  840057631
1            1195431834           clk  20190616  840057631
2             324200109           clk  20190617  840057631
3            1152236334           clk  20190613  840057631
4             948161162           clk  20190611  840057631

In [7]:
import time
t1=time.time()
behavior_brand=pd.merge(items,behavior,how='inner',on='item_id')
t2=time.time()
print(''%fs'%t2-t1)

30.559988260269165

In [8]:
behavior_brand.head()

,item_id,class1_id,class_id,brand_id,price,behavior_type,date,user_id
0,43152,50022703,50003881,30652,1749.0,clk,20190613,722650079
1,43152,50022703,50003881,30652,1749.0,clk,20190614,677107887
2,43152,50022703,50003881,30652,1749.0,clk,20190614,677107887
3,43152,50022703,50003881,30652,1749.0,clk,20190616,677107887
4,43152,50022703,50003881,30652,1749.0,clk,20190614,677107887

In [9]:
behavior_brand.to_csv('behavior_brand.csv',index=False)

In [ ]:
train=behavior_brand.loc[behavior['date']<20190618]
test=behavior_brand.loc[behavior['date']>=20190618]
print(len(train.index))
print(len(test.index))
train.to_csv('behavior_brand_8.csv',index=False)
test.to_csv('behavior_brand_3.csv',index=False)

27445724
9655434

In [5]:
import gc

In [6]:
gc.collect()

7